
coverage/

node_modules/


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/

.env
.env.local
.env.*.local


.vscode/
.idea/

.DS_Store
Thumbs.db


.npm/
.yarn/


jest-cache/
jest-transform-cache/


package-lock.json
yarn.lock


*.tsbuildinfo
